* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
#social {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  align-items: center;
  padding: 1% 10%;
}
#social > div {
  display: flex;
}
#social > div > p {
  margin-right: 20px;
}
